<div class="section">
  <details aria-label="Anime Lyric Loops Tracks">
    <summary>🐾 Steampunk Feline — Reggae · Dub · Experimental Grooves</summary>
    <div class="details-content">
      <strong>encrypted-delights-remix.mp3</strong>
      <audio controls src="fragments/anime-lyric-loops/encrypted-delights-remix.mp3"></audio>
    </div>
    <div class="track">
      <strong>encrypted-delights.mp3</strong>
      <audio controls src="fragments/anime-lyric-loops/encrypted-delights.mp3"></audio>
    </div>
    <div class="track">
      <strong>espressos-brew-best-under-pressure-remix.mp3</strong>
      <audio controls src="fragments/anime-lyric-loops/espressos-brew-best-under-pressure-remix.mp3"></audio>
    </div>
    <div class="track">
      <strong>espressos-brew-best-under-pressure.mp3</strong>
      <audio controls src="fragments/anime-lyric-loops/espressos-brew-best-under-pressure.mp3"></audio>
    </div>
     <div class="track">
      <strong>fog-messenger-remix.mp3</strong>
      <audio controls src="fragments/anime-lyric-loops/fog-messenger-remix.mp3"></audio>
    </div>
    <div class="track">
      <strong>fog-messenger.mp3</strong>
      <audio controls src="fragments/anime-lyric-loops/fog-messenger.mp3"></audio>
    </div>
    <div class="track">
      <strong>sketch-every-route.mp3</strong>
      <audio controls src="fragments/anime-lyric-loopse/sketch-every-route.mp3"></audio>
    </div>
    <div class="track">
      <strong>sketching-every-route-remix.mp3</strong>
      <audio controls src="fragments/morning-coffee/sketching-every-route-remix.mp3"></audio>
    </div>
  </details>
</div>
